<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Users" connectionString="Data Source=.\Data\Users.db;Version=3;" providerName="System.Data.SqlClient" />
    <add name="Orders" connectionString="Data Source=.\Data\Main.db;Version=3;" providerName="System.Data.SqlClient" />
    <add name="Products" connectionString="Data Source=.\Data\Products.db;Version=3;" providerName="System.Data.SqlClient" />
    <add name="Profiles" connectionString="Data Source=.\Data\Profiles.db;Version=3;" providerName="System.Data.SqlClient" />
    <add name="Posts" connectionString="Data Source=.\Data\Main.db;Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MainFormDefaultSize" value="814;464" />
    <add key="FormsDefaultSize" value="700;362" />
    <add key="DataFolder" value="not set" />
    <add key="WindowRefresh" value="1500" />
    <add key="HouseName" value="Restaurante A Quinta dos Sabores" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>